.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
# docs/*
# man/*
# *.html
# *.png
# man/
*.csv
notebooks/*

tests/testthat/neural_network-s0000r1000\.html

tests/testthat/neural_network-s1000r1000\.html

tests/testthat/neural_network-s3000r1000\.html

tests/testthat/neural_network-s2000r1000\.html

_tests/
tests/
